# Ejercicios


1. Con el fichero earthquakes.csv, selecciona todos los terremotos de Japón con una magnitud de 4,9 o superior utilizando el tipo de magnitud mb.

In [1]:
import pandas as pd

earthquakes = pd.read_csv('earthquakes.csv')

In [3]:
earthquakes[(earthquakes['parsed_place'] == 'Japan') & (earthquakes['mag'] >= 4.9)]

,mag,magType,time,place,tsunami,parsed_place
476,5.2,mww,1539317747370,"7km ESE of Asahi, Japan",0,Japan
1563,4.9,mb,1538977532250,"293km ESE of Iwo Jima, Japan",0,Japan
2576,5.4,mb,1538697528010,"37km E of Tomakomai, Japan",0,Japan
2591,5.0,mww,1538693073410,"144km E of Nago, Japan",0,Japan
3072,4.9,mb,1538579732490,"15km ENE of Hasaki, Japan",0,Japan
3632,4.9,mb,1538450871260,"53km ESE of Hitachi, Japan",0,Japan
4409,5.0,mww,1538297644770,"33km NW of Shizunai, Japan",0,Japan
7832,5.3,mww,1537613881810,"169km E of Nago, Japan",0,Japan
9083,5.1,mww,1537287709100,"23km ENE of Ishinomaki, Japan",0,Japan

2. Cree contenedores para cada número completo de magnitud de terremoto (por ejemplo, el primer contenedor es (0, 1], el segundo es (1, 2], etc.) con el tipo de magnitud ml y cuente cuántos hay en cada contenedor.

In [4]:
earthquakes[earthquakes['magType'] == 'ml']

,mag,magType,time,place,tsunami,parsed_place
0,1.35,ml,1539475168010,"9km NE of Aguanga, CA",0,California
1,1.29,ml,1539475129610,"9km NE of Aguanga, CA",0,California
2,3.42,ml,1539475062610,"8km NE of Aguanga, CA",0,California
3,0.44,ml,1539474978070,"9km NE of Aguanga, CA",0,California
6,1.70,ml,1539473176017,"105km W of Talkeetna, Alaska",0,Alaska
...,...,...,...,...,...,...
9325,0.51,ml,1537230344890,"4km WNW of Julian, CA",0,California
9326,1.82,ml,1537230230260,"4km W of Julian, CA",0,California
9328,1.00,ml,1537230135130,"3km W of Julian, CA",0,California
9330,1.10,ml,1537229545350,"9km NE of Aguanga, CA",0,California
9331,0.66,ml,1537228864470,"9km NE of Aguanga, CA",0,California

In [8]:
pd.DataFrame(pd.cut(earthquakes[earthquakes["magType"]=="ml"]["mag"], range(-2,7)).value_counts())

          count
mag
(1, 2]     3105
(0, 1]     2207
(2, 3]      862
(-1, 0]     491
(3, 4]      122
(-2, -1]     13
(4, 5]        2
(5, 6]        1

3.0. Utilizando el archivo faang.csv. Realice las siguientes agregaciones:
- a) Media del precio de apertura
- b) Máximo del precio máximo
- c) Mínimo del precio mínimo
- d) Media del precio de cierre
- e) Suma del volumen negociado

In [11]:
faang = pd.read_csv('faang.csv')
faang.head(2)

,ticker,date,high,low,open,close,volume
0,FB,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900.0
1,FB,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600.0

In [12]:
faang['open'].mean()

659.1996349836251

In [13]:
faang['high'].max()

2050.5

In [14]:
faang['high'].min()

37.88750076293945

3.1. Utilizando el archivo faang.csv, agrupe por el ticker. Realice las siguientes agregaciones:
- a) Media del precio de apertura
- b) Máximo del precio máximo
- c) Mínimo del precio mínimo
- d) Media del precio de cierre
- e) Suma del volumen negociado

3.2. Utilizando el archivo faang.csv, agrupe por el ticker y remuestree a frecuencia mensual. Realice las siguientes agregaciones:
- a) Media del precio de apertura
- b) Máximo del precio máximo
- c) Mínimo del precio mínimo
- d) Media del precio de cierre
- e) Suma del volumen negociado

4. Construye una crosstab con los datos del terremoto entre la columna tsunami y la columna magType. En lugar de mostrar el recuento de frecuencias, muestra la magnitud máxima que se observó para cada combinación. Coloca el tipo de magnitud a lo largo de las columnas.

5. Calcule las agregaciones móviles de 60 días de los datos OHLC por ticker para los datos FAANG. Utilice las mismas agregaciones del ejercicio 3.

In [ ]:
# pd.Grouper(freq='1M')

In [ ]:
#.resample('M')

6. Cree una tabla dinámica de los datos FAANG que compare las acciones. Ponga el ticker en las filas y muestre los promedios de los datos OHLC y volumen negociado.

7. Calcule las Z-score para cada columna numérica de los datos de Amazon (el ticker es AMZN) en el cuarto trimestre de 2018 utilizando apply().

8. Añade descripciones de eventos:
- a) Cree un dataframe con las tres columnas siguientes: ticker, fecha y evento. Las columnas deben tener los siguientes valores:
- i) ticker: "FB
- ii) date: ['2018-07-25', '2018-03-19', '2018-03-20'].
- iii) event: ['Decepcionante crecimiento de usuarios anunciado tras el cierre.', 'Cambridge Analytica story', 'FTC investigation']

    - b) Establece el índice en ['date', 'ticker'].

    - c) Combina estos datos con los datos de FAANG mediante una unión externa.