# Ejercicios


1. Con el fichero earthquakes.csv, selecciona todos los terremotos de Japón con una magnitud de 4,9 o superior utilizando el tipo de magnitud mb.

In [1]:
import pandas as pd

earthquakes = pd.read_csv('earthquakes.csv')

In [3]:
earthquakes[(earthquakes['parsed_place'] == 'Japan') & (earthquakes['mag'] >= 4.9)]

,mag,magType,time,place,tsunami,parsed_place
476,5.2,mww,1539317747370,"7km ESE of Asahi, Japan",0,Japan
1563,4.9,mb,1538977532250,"293km ESE of Iwo Jima, Japan",0,Japan
2576,5.4,mb,1538697528010,"37km E of Tomakomai, Japan",0,Japan
2591,5.0,mww,1538693073410,"144km E of Nago, Japan",0,Japan
3072,4.9,mb,1538579732490,"15km ENE of Hasaki, Japan",0,Japan
3632,4.9,mb,1538450871260,"53km ESE of Hitachi, Japan",0,Japan
4409,5.0,mww,1538297644770,"33km NW of Shizunai, Japan",0,Japan
7832,5.3,mww,1537613881810,"169km E of Nago, Japan",0,Japan
9083,5.1,mww,1537287709100,"23km ENE of Ishinomaki, Japan",0,Japan

2. Cree contenedores para cada número completo de magnitud de terremoto (por ejemplo, el primer contenedor es (0, 1], el segundo es (1, 2], etc.) con el tipo de magnitud ml y cuente cuántos hay en cada contenedor.

In [4]:
earthquakes[earthquakes['magType'] == 'ml']

,mag,magType,time,place,tsunami,parsed_place
0,1.35,ml,1539475168010,"9km NE of Aguanga, CA",0,California
1,1.29,ml,1539475129610,"9km NE of Aguanga, CA",0,California
2,3.42,ml,1539475062610,"8km NE of Aguanga, CA",0,California
3,0.44,ml,1539474978070,"9km NE of Aguanga, CA",0,California
6,1.70,ml,1539473176017,"105km W of Talkeetna, Alaska",0,Alaska
...,...,...,...,...,...,...
9325,0.51,ml,1537230344890,"4km WNW of Julian, CA",0,California
9326,1.82,ml,1537230230260,"4km W of Julian, CA",0,California
9328,1.00,ml,1537230135130,"3km W of Julian, CA",0,California
9330,1.10,ml,1537229545350,"9km NE of Aguanga, CA",0,California
9331,0.66,ml,1537228864470,"9km NE of Aguanga, CA",0,California

In [8]:
pd.DataFrame(pd.cut(earthquakes[earthquakes["magType"]=="ml"]["mag"], range(-2,7)).value_counts())

          count
mag
(1, 2]     3105
(0, 1]     2207
(2, 3]      862
(-1, 0]     491
(3, 4]      122
(-2, -1]     13
(4, 5]        2
(5, 6]        1

3.0. Utilizando el archivo faang.csv. Realice las siguientes agregaciones:
- a) Media del precio de apertura
- b) Máximo del precio máximo
- c) Mínimo del precio mínimo
- d) Media del precio de cierre
- e) Suma del volumen negociado

In [11]:
faang = pd.read_csv('faang.csv')
faang.head(2)

,ticker,date,high,low,open,close,volume
0,FB,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900.0
1,FB,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600.0

In [12]:
faang['open'].mean()

659.1996349836251

In [13]:
faang['high'].max()

2050.5

In [14]:
faang['high'].min()

37.88750076293945

3.1. Utilizando el archivo faang.csv, agrupe por el ticker. Realice las siguientes agregaciones:
- a) Media del precio de apertura
- b) Máximo del precio máximo
- c) Mínimo del precio mínimo
- d) Media del precio de cierre
- e) Suma del volumen negociado

In [52]:
faang.groupby("ticker")["open"].mean()

ticker
AAPL      47.277859
AMZN    1644.072709
FB       171.472948
GOOG    1113.554101
NFLX     319.620558
Name: open, dtype: float64

In [53]:
#a) 
faang.groupby("ticker", as_index=False)["open"].mean()

  ticker         open
0   AAPL    47.277859
1   AMZN  1644.072709
2     FB   171.472948
3   GOOG  1113.554101
4   NFLX   319.620558

In [54]:
#b) 
faang.groupby("ticker", as_index=False)["high"].max()

  ticker         high
0   AAPL    58.367500
1   AMZN  2050.500000
2     FB   218.619995
3   GOOG  1273.890015
4   NFLX   423.209991

In [55]:
#c) 
faang.groupby("ticker", as_index=False)["low"].min()

  ticker          low
0   AAPL    36.647499
1   AMZN  1170.510010
2     FB   123.019997
3   GOOG   970.109985
4   NFLX   195.419998

In [56]:
#d) 
faang.groupby("ticker", as_index=False)["close"].mean()

  ticker        close
0   AAPL    47.263357
1   AMZN  1641.726176
2     FB   171.510956
3   GOOG  1113.225134
4   NFLX   319.290319

In [57]:
#e) 
faang.groupby("ticker", as_index=False)["volume"].sum()

  ticker        volume
0   AAPL  3.415614e+10
1   AMZN  1.417898e+09
2     FB  6.942308e+09
3   GOOG  4.372333e+08
4   NFLX  2.878876e+09

In [63]:
faang.groupby("ticker", as_index=False).agg({"open": "mean", "high": "max", "low":"min", "close":"mean", "volume":"sum"})

  ticker         open         high          low        close        volume
0   AAPL    47.277859    58.367500    36.647499    47.263357  3.415614e+10
1   AMZN  1644.072709  2050.500000  1170.510010  1641.726176  1.417898e+09
2     FB   171.472948   218.619995   123.019997   171.510956  6.942308e+09
3   GOOG  1113.554101  1273.890015   970.109985  1113.225134  4.372333e+08
4   NFLX   319.620558   423.209991   195.419998   319.290319  2.878876e+09

3.2. Utilizando el archivo faang.csv, agrupe por el ticker y remuestree a frecuencia mensual. Realice las siguientes agregaciones:
- a) Media del precio de apertura
- b) Máximo del precio máximo
- c) Mínimo del precio mínimo
- d) Media del precio de cierre
- e) Suma del volumen negociado

In [65]:
faang["date"] = pd.to_datetime(faang["date"])

In [124]:
faang.set_index("date", inplace=True)

KeyError: "None of ['date'] are in the columns"

In [125]:
faang.groupby("ticker").resample("YE")[["open"]].mean()

                          open
ticker date
AAPL   2018-12-31    47.277859
AMZN   2018-12-31  1644.072709
FB     2018-12-31   171.472948
GOOG   2018-12-31  1113.554101
NFLX   2018-12-31   319.620558

In [126]:
faang.groupby("ticker").resample("YE")[["open"]].mean().reset_index()

  ticker       date         open
0   AAPL 2018-12-31    47.277859
1   AMZN 2018-12-31  1644.072709
2     FB 2018-12-31   171.472948
3   GOOG 2018-12-31  1113.554101
4   NFLX 2018-12-31   319.620558

In [100]:
#faang.reset_index(inplace=True)

In [104]:
#faang["anno"] = faang["date"].dt.year
#faang["anno2"] = faang["date"].apply(lambda x: x.year)
#faang.groupby(["ticker","anno"],as_index=False)["open"].mean()

In [127]:
faang.groupby("ticker").resample("YE").agg({"open": "mean", "high": "max", "low":"min", "close":"mean", "volume":"sum"})

,,open,high,low,close,volume
ticker,date,,,,,
AAPL,2018-12-31,47.277859,58.367500,36.647499,47.263357,3.415614e+10
AMZN,2018-12-31,1644.072709,2050.500000,1170.510010,1641.726176,1.417898e+09
FB,2018-12-31,171.472948,218.619995,123.019997,171.510956,6.942308e+09
GOOG,2018-12-31,1113.554101,1273.890015,970.109985,1113.225134,4.372333e+08
NFLX,2018-12-31,319.620558,423.209991,195.419998,319.290319,2.878876e+09

4. Construye una crosstab con los datos del terremoto entre la columna tsunami y la columna magType. En lugar de mostrar el recuento de frecuencias, muestra la magnitud máxima que se observó para cada combinación. Coloca el tipo de magnitud a lo largo de las columnas.

In [133]:
pd.crosstab(earthquakes["tsunami"], earthquakes["magType"])

magType   mb  mb_lg    md  mh    ml  ms_20  mw  mwb  mwr  mww
tsunami
0        574     30  1796  12  6798      0   2    2   14   42
1         27      0     0   0     5      1   2    0    0   26

In [138]:
pd.crosstab(earthquakes["tsunami"], earthquakes["magType"], values=earthquakes["mag"], aggfunc = "max")

magType   mb  mb_lg    md   mh   ml  ms_20    mw  mwb  mwr  mww
tsunami
0        5.6    3.5  4.11  1.1  4.2    NaN  3.83  5.8  4.8  6.0
1        6.1    NaN   NaN  NaN  5.1    5.7  4.41  NaN  NaN  7.5

In [145]:
earthquakes.groupby(["magType", "tsunami"], as_index=False)["mag"].max().T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
magType,mb,mb,mb_lg,md,mh,ml,ml,ms_20,mw,mw,mwb,mwr,mww,mww
tsunami,0,1,0,0,0,0,1,1,0,1,0,0,0,1
mag,5.6,6.1,3.5,4.11,1.1,4.2,5.1,5.7,3.83,4.41,5.8,4.8,6.0,7.5

5. Calcule las agregaciones móviles de 60 días de los datos OHLC por ticker para los datos FAANG. Utilice las mismas agregaciones del ejercicio 3.

In [ ]:
# media cada 30 dias: 1 abril al 30 abril, 1 mayo al 30 mayo, 31 mayo al 29 de junio
# media movil cada 30 dias: 1 abril al 30 abril, 2 abril al 1 de mayo, 3 abril al 2 mayo

In [152]:
#.resample('M')
faang.groupby("ticker").resample("60d").agg({"open": "mean", "high": "max", "low":"min", "close":"mean", "volume":"sum"})

                          open         high          low        close  \
ticker date
AAPL   2018-01-02    42.762143    45.154999    37.560001    42.800357
       2018-03-03    43.025183    45.875000    40.157501    42.980671
       2018-05-02    46.820000    48.549999    43.450001    46.867619
       2018-07-01    50.187857    55.872501    45.855000    50.302619
       2018-08-30    55.575793    58.367500    53.080002    55.531159
       2018-10-29    45.725732    55.590000    36.647499    45.533171
       2018-12-28    39.503750    39.840000    38.637501    39.246250
AMZN   2018-01-02  1376.351670  1528.699951  1170.510010  1378.281657
       2018-03-03  1511.184627  1638.099976  1352.880005  1506.558784
       2018-05-02  1645.430481  1763.099976  1546.020020  1647.164763
       2018-07-01  1833.881670  1998.689941  1678.060059  1836.026667
       2018-08-30  1904.764145  2050.500000  1603.000000  1894.892685
       2018-10-29  1602.105362  1784.000000  1307.000000  1596.387811
       2018-12-28  1492.075012  1520.760010  1449.000000  1489.994995
FB     2018-01-02   182.435237   195.320007   167.179993   182.426190
       2018-03-03   168.526097   186.100006   149.020004   168.404877
       2018-05-02   188.678810   203.550003   172.119995   189.314762
       2018-07-01   188.516667   218.619995   166.559998   188.768094
       2018-08-30   160.783659   179.789993   143.800003   160.555122
       2018-10-29   140.578781   156.399994   123.019997   140.395609
       2018-12-28   134.894997   135.919998   129.949997   132.144997
GOOG   2018-01-02  1107.526899  1186.890015   992.559998  1108.822614
       2018-03-03  1065.309750  1177.050049   980.640015  1062.433902
       2018-05-02  1101.407860  1186.286011  1006.289978  1104.212376
       2018-07-01  1204.170233  1273.890015  1093.800049  1206.489043
       2018-08-30  1155.098779  1253.635010  1034.089966  1151.615833
       2018-10-29  1049.130243  1124.650024   970.109985  1047.579761
       2018-12-28  1050.289978  1055.560059  1023.590027  1036.344971
NFLX   2018-01-02   251.920238   301.179993   195.419998   253.331904
       2018-03-03   311.991464   338.820007   271.220001   310.620489
       2018-05-02   357.630713   423.209991   305.730011   358.269288
       2018-07-01   362.122144   419.769989   310.929993   362.787856
       2018-08-30   355.630489   386.799988   292.299988   352.967560
       2018-10-29   281.070489   332.049988   231.229996   280.162927
       2018-12-28   259.050003   270.100006   249.800003   261.869995

                         volume
ticker date
AAPL   2018-01-02  6.699319e+09
       2018-03-03  5.384782e+09
       2018-05-02  4.380126e+09
       2018-07-01  4.007506e+09
       2018-08-30  5.759600e+09
       2018-10-29  7.615634e+09
       2018-12-28  3.091796e+08
AMZN   2018-01-02  2.475780e+08
       2018-03-03  2.514690e+08
       2018-05-02  1.529847e+08
       2018-07-01  1.826152e+08
       2018-08-30  2.534316e+08
       2018-10-29  3.140356e+08
       2018-12-28  1.578350e+07
FB     2018-01-02  1.055135e+09
       2018-03-03  1.729073e+09
       2018-05-02  7.623838e+08
       2018-07-01  1.153582e+09
       2018-08-30  1.023230e+09
       2018-10-29  1.171651e+09
       2018-12-28  4.725290e+07
GOOG   2018-01-02  7.590790e+07
       2018-03-03  8.370960e+07
       2018-05-02  6.251750e+07
       2018-07-01  5.760070e+07
       2018-08-30  7.088170e+07
       2018-10-29  8.370780e+07
       2018-12-28  2.908100e+06
NFLX   2018-01-02  4.482408e+08
       2018-03-03  5.062146e+08
       2018-05-02  3.800460e+08
       2018-07-01  4.995917e+08
       2018-08-30  4.876015e+08
       2018-10-29  5.326795e+08
       2018-12-28  2.450170e+07

In [160]:
faang.groupby(["ticker", pd.Grouper(freq="60D")]).agg({"open": "mean", "high": "max", "low":"min", "close":"mean", "volume":"sum"})

                          open         high          low        close  \
ticker date
AAPL   2018-01-02    42.762143    45.154999    37.560001    42.800357
       2018-03-03    43.025183    45.875000    40.157501    42.980671
       2018-05-02    46.820000    48.549999    43.450001    46.867619
       2018-07-01    50.187857    55.872501    45.855000    50.302619
       2018-08-30    55.575793    58.367500    53.080002    55.531159
       2018-10-29    45.725732    55.590000    36.647499    45.533171
       2018-12-28    39.503750    39.840000    38.637501    39.246250
AMZN   2018-01-02  1376.351670  1528.699951  1170.510010  1378.281657
       2018-03-03  1511.184627  1638.099976  1352.880005  1506.558784
       2018-05-02  1645.430481  1763.099976  1546.020020  1647.164763
       2018-07-01  1833.881670  1998.689941  1678.060059  1836.026667
       2018-08-30  1904.764145  2050.500000  1603.000000  1894.892685
       2018-10-29  1602.105362  1784.000000  1307.000000  1596.387811
       2018-12-28  1492.075012  1520.760010  1449.000000  1489.994995
FB     2018-01-02   182.435237   195.320007   167.179993   182.426190
       2018-03-03   168.526097   186.100006   149.020004   168.404877
       2018-05-02   188.678810   203.550003   172.119995   189.314762
       2018-07-01   188.516667   218.619995   166.559998   188.768094
       2018-08-30   160.783659   179.789993   143.800003   160.555122
       2018-10-29   140.578781   156.399994   123.019997   140.395609
       2018-12-28   134.894997   135.919998   129.949997   132.144997
GOOG   2018-01-02  1107.526899  1186.890015   992.559998  1108.822614
       2018-03-03  1065.309750  1177.050049   980.640015  1062.433902
       2018-05-02  1101.407860  1186.286011  1006.289978  1104.212376
       2018-07-01  1204.170233  1273.890015  1093.800049  1206.489043
       2018-08-30  1155.098779  1253.635010  1034.089966  1151.615833
       2018-10-29  1049.130243  1124.650024   970.109985  1047.579761
       2018-12-28  1050.289978  1055.560059  1023.590027  1036.344971
NFLX   2018-01-02   251.920238   301.179993   195.419998   253.331904
       2018-03-03   311.991464   338.820007   271.220001   310.620489
       2018-05-02   357.630713   423.209991   305.730011   358.269288
       2018-07-01   362.122144   419.769989   310.929993   362.787856
       2018-08-30   355.630489   386.799988   292.299988   352.967560
       2018-10-29   281.070489   332.049988   231.229996   280.162927
       2018-12-28   259.050003   270.100006   249.800003   261.869995

                         volume
ticker date
AAPL   2018-01-02  6.699319e+09
       2018-03-03  5.384782e+09
       2018-05-02  4.380126e+09
       2018-07-01  4.007506e+09
       2018-08-30  5.759600e+09
       2018-10-29  7.615634e+09
       2018-12-28  3.091796e+08
AMZN   2018-01-02  2.475780e+08
       2018-03-03  2.514690e+08
       2018-05-02  1.529847e+08
       2018-07-01  1.826152e+08
       2018-08-30  2.534316e+08
       2018-10-29  3.140356e+08
       2018-12-28  1.578350e+07
FB     2018-01-02  1.055135e+09
       2018-03-03  1.729073e+09
       2018-05-02  7.623838e+08
       2018-07-01  1.153582e+09
       2018-08-30  1.023230e+09
       2018-10-29  1.171651e+09
       2018-12-28  4.725290e+07
GOOG   2018-01-02  7.590790e+07
       2018-03-03  8.370960e+07
       2018-05-02  6.251750e+07
       2018-07-01  5.760070e+07
       2018-08-30  7.088170e+07
       2018-10-29  8.370780e+07
       2018-12-28  2.908100e+06
NFLX   2018-01-02  4.482408e+08
       2018-03-03  5.062146e+08
       2018-05-02  3.800460e+08
       2018-07-01  4.995917e+08
       2018-08-30  4.876015e+08
       2018-10-29  5.326795e+08
       2018-12-28  2.450170e+07

In [185]:
faang.groupby("ticker", as_index=True)[["close"]].rolling(60).mean().head(61)

                       close
ticker date
AAPL   2018-01-02        NaN
       2018-01-03        NaN
       2018-01-04        NaN
       2018-01-05        NaN
       2018-01-08        NaN
...                      ...
       2018-03-23        NaN
       2018-03-26        NaN
       2018-03-27        NaN
       2018-03-28  43.066208
       2018-03-29  43.047542

[61 rows x 1 columns]

In [187]:
#faang.groupby("ticker", as_index=True)[["close"]].rolling(60).mean().shift(-59)

                       close
ticker date
AAPL   2018-01-02  43.066208
       2018-01-03  43.047542
       2018-01-04  43.024417
       2018-01-05  43.005083
       2018-01-08  42.990958
...                      ...
NFLX   2018-12-24        NaN
       2018-12-26        NaN
       2018-12-27        NaN
       2018-12-28        NaN
       2018-12-31        NaN

[1255 rows x 1 columns]

In [193]:
#shift positivo son los días anteriores
faang["open_a_1"] = faang["open"].shift(1) 
#shift negativo son los días posteriores
faang["open_s_1"] = faang["open"].shift(-1)

In [194]:
faang

,ticker,high,low,open,close,volume,anno,anno2,open_1,open_s_1,open_a_1
date,,,,,,,,,,,
2018-01-02,FB,181.580002,177.550003,177.679993,181.419998,18151900.0,2018,2018,NaN,181.880005,NaN
2018-01-03,FB,184.779999,181.330002,181.880005,184.669998,16886600.0,2018,2018,177.679993,184.899994,177.679993
2018-01-04,FB,186.210007,184.100006,184.899994,184.330002,13880900.0,2018,2018,181.880005,185.589996,181.880005
2018-01-05,FB,186.899994,184.929993,185.589996,186.850006,13574500.0,2018,2018,184.899994,187.199997,184.899994
2018-01-08,FB,188.899994,186.330002,187.199997,188.279999,17994700.0,2018,2018,185.589996,188.699997,185.589996
...,...,...,...,...,...,...,...,...,...,...,...
2018-12-24,GOOG,1003.539978,970.109985,973.900024,976.219971,1590300.0,2018,2018,1015.299988,989.010010,1015.299988
2018-12-26,GOOG,1040.000000,983.000000,989.010010,1039.459961,2373300.0,2018,2018,973.900024,1017.150024,973.900024
2018-12-27,GOOG,1043.890015,997.000000,1017.150024,1043.880005,2109800.0,2018,2018,989.010010,1049.619995,989.010010
2018-12-28,GOOG,1055.560059,1033.099976,1049.619995,1037.079956,1414800.0,2018,2018,1017.150024,1050.959961,1017.150024
2018-12-31,GOOG,1052.699951,1023.590027,1050.959961,1035.609985,1493300.0,2018,2018,1049.619995,NaN,1049.619995

6. Cree una tabla dinámica de los datos FAANG que compare las acciones. Ponga el ticker en las filas y muestre los promedios de los datos OHLC y volumen negociado.

7. Calcule las Z-score para cada columna numérica de los datos de Amazon (el ticker es AMZN) en el cuarto trimestre de 2018 utilizando apply().

8. Añade descripciones de eventos:
- a) Cree un dataframe con las tres columnas siguientes: ticker, fecha y evento. Las columnas deben tener los siguientes valores:
- i) ticker: "FB
- ii) date: ['2018-07-25', '2018-03-19', '2018-03-20'].
- iii) event: ['Decepcionante crecimiento de usuarios anunciado tras el cierre.', 'Cambridge Analytica story', 'FTC investigation']

    - b) Establece el índice en ['date', 'ticker'].

    - c) Combina estos datos con los datos de FAANG mediante una unión externa.