## **Predicting Housing Prices for regions in the USA.**

The data contains the following columns:

* 'Avg. Area Income': Avg. Income of residents of the city house is located in.
* 'Avg. Area House Age': Avg Age of Houses in same city
* 'Avg. Area Number of Rooms': Avg Number of Rooms for Houses in same city
* 'Avg. Area Number of Bedrooms': Avg Number of Bedrooms for Houses in same city
* 'Area Population': Population of city house is located in
* 'Price': Price that the house sold at
* 'Address': Address for the house

In [109]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [110]:
# loading csv data to dataframe 
USA_Housing = pd.read_csv('data/USA_Housing.csv')
# checking out the Data
USA_Housing.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\r\nLaurabury, NE 37..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\r\nLake Kathleen, ..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\r\nDanieltown, WI 064..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\r\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\r\nFPO AE 09386

In [111]:
#checking columns and total records
USA_Housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

 **Generating descriptive statistics that summarize the central tendency, dispersion and shape of a dataset’s distribution, excluding NaN value.
**

In [112]:
USA_Housing.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In [113]:
# la columna address no la podemos usar al ser un texto diferente para cada casa
# Elimina dicha columna 
USA_Housing.drop(columns=['Address'], inplace=True)
USA_Housing.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05

In [114]:
# Cambia los nombres de las columnas para elminar espacios, mayúsculas y signos de puntuación
USA_Housing.columns = [x.replace(".", "").replace(" ", "_").lower() for x in USA_Housing.columns]
USA_Housing.head()

,avg_area_income,avg_area_house_age,avg_area_number_of_rooms,avg_area_number_of_bedrooms,area_population,price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05

In [115]:
# Crea dos variables X e y
# X contiene las features
X = USA_Housing[['avg_area_income', 'avg_area_house_age', 'avg_area_number_of_rooms', 'area_population']]
# y contiene la variable a precedir, en este caso precio
Y = USA_Housing['price']

In [116]:
# Realiza la regresión lineal

# Creación del modelo utilizando matrices como en scikitlearn
# ==============================================================================
# A la matriz de predictores se le tiene que añadir una columna de 1s para el intercept del modelo

# La convenciones determinan que las features se llamen X 
# Además, tendremos habitualmente un conjunto de train y otro de test (con un split del 80/20, habitualmente)
# Por lo tanto, X_train contiene las features del train
# Este caso es tan sencillo y con pocos datos que no tenemos X_test, pero aparecerá
X_train = X
# Añadimos una columna de 1 porque necesitamos una constante que determine el intercept o B0, el punto donde corta la recta con el eje Y
# Por eso añadimos una columna constante de 0s
# Veremos que estoy aparece en muchos otros modelos (en redes neuronales se llama bias)
X_train = sm.add_constant(X_train, prepend=True)
# OLS: creamos el modelo del tipo Ordinary Least Squares (por alguna razón creo que una vez dije Optimal pero es Ordinary)
modelo = sm.OLS(endog=Y, exog=X_train)
# Ajustamos el modelo, es decir, hacemos el calculo de la mejor recta posible según los criterios del OLS
modelo = modelo.fit()
print(modelo.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.918
Model:                            OLS   Adj. R-squared:                  0.918
Method:                 Least Squares   F-statistic:                 1.398e+04
Date:                Fri, 10 May 2024   Prob (F-statistic):               0.00
Time:                        19:42:24   Log-Likelihood:                -64714.
No. Observations:                5000   AIC:                         1.294e+05
Df Residuals:                    4995   BIC:                         1.295e+05
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                    -2.638e+06   1.72e+04   -153.726      0.000   -2.67e+06    -2.6e+06
avg_area_income             21.5827      0.134    160.743      0.000      21.320      21.846
avg_area_house_age        1.657e+05   1443.404    114.769      0.000    1.63e+05    1.68e+05
avg_area_number_of_rooms  1.216e+05   1422.608     85.476      0.000    1.19e+05    1.24e+05
area_population             15.1961      0.144    105.388      0.000      14.913      15.479
==============================================================================
Omnibus:                        5.310   Durbin-Watson:                   2.006
Prob(Omnibus):                  0.070   Jarque-Bera (JB):                4.742
Skew:                           0.011   Prob(JB):                       0.0934
Kurtosis:                       2.851   Cond. No.                     9.40e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.4e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [117]:
X.corr()

,avg_area_income,avg_area_house_age,avg_area_number_of_rooms,area_population
avg_area_income,1.000000,-0.002007,-0.011032,-0.016234
avg_area_house_age,-0.002007,1.000000,-0.009428,-0.018743
avg_area_number_of_rooms,-0.011032,-0.009428,1.000000,0.002040
area_population,-0.016234,-0.018743,0.002040,1.000000

In [118]:
# Intrepreta los coeficientes, R2, R2 ajustado y  F-statistic

In [119]:
# Haz un gráfico de los residuos para comprobar que no hay sesgos y calcula su media
modelo.resid.mean()

4.3297186493873594e-10

In [120]:
# Opcional: para practicar cálculos
# Siguiendo el notebook 00_regresion_lineal calcula y comprueba que te salen los mismos números para:
# R2
# R2 ajustado
# F-statistic
# RMSE
# y todos los demas vistos en el notebook

# Train y test

Esta vez vamos a separar train y test para hacer predicciones con datos no usados en el modelo!

In [121]:
from sklearn.model_selection import train_test_split

# Esta vez, nuestro modelo serán el 80% de los datos y el test el 20% de los datos
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.20, random_state = 42)

In [122]:
# Crea una nueva regresión lineal (no uses el mismo nombre que la anterior!!!) usando X_train e y_train
# Realiza la regresión lineal

# Creación del modelo utilizando matrices como en scikitlearn
# ==============================================================================
# A la matriz de predictores se le tiene que añadir una columna de 1s para el intercept del modelo

# La convenciones determinan que las features se llamen X 
# Además, tendremos habitualmente un conjunto de train y otro de test (con un split del 80/20, habitualmente)
# Por lo tanto, X_train contiene las features del train
# Este caso es tan sencillo y con pocos datos que no tenemos X_test, pero aparecerá
#X_train = USA_Housing[["Avg. Area Income",	"Avg. Area House Age",	"Avg. Area Number of Rooms", 	"Avg. Area Number of Bedrooms",	"Area Population"]]

# Añadimos una columna de 1 porque necesitamos una constante que determine el intercept o B0, el punto donde corta la recta con el eje Y
# Por eso añadimos una columna constante de 0s
# Veremos que estoy aparece en muchos otros modelos (en redes neuronales se llama bias)
X_train = sm.add_constant(X_train, prepend=True)
# OLS: creamos el modelo del tipo Ordinary Least Squares (por alguna razón creo que una vez dije Optimal pero es Ordinary)
modelo_ = sm.OLS(endog=y_train, exog=X_train)
# Ajustamos el modelo, es decir, hacemos el calculo de la mejor recta posible según los criterios del OLS
modelo_ = modelo_.fit()
print(modelo_.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.918
Model:                            OLS   Adj. R-squared:                  0.918
Method:                 Least Squares   F-statistic:                 1.117e+04
Date:                Fri, 10 May 2024   Prob (F-statistic):               0.00
Time:                        19:42:24   Log-Likelihood:                -51779.
No. Observations:                4000   AIC:                         1.036e+05
Df Residuals:                    3995   BIC:                         1.036e+05
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                    -2.636e+06   1.92e+04   -137.281      0.000   -2.67e+06    -2.6e+06
avg_area_income             21.6598      0.150    144.594      0.000      21.366      21.953
avg_area_house_age        1.647e+05   1613.817    102.058      0.000    1.62e+05    1.68e+05
avg_area_number_of_rooms   1.21e+05   1588.452     76.177      0.000    1.18e+05    1.24e+05
area_population             15.2655      0.161     94.914      0.000      14.950      15.581
==============================================================================
Omnibus:                        4.731   Durbin-Watson:                   1.967
Prob(Omnibus):                  0.094   Jarque-Bera (JB):                4.217
Skew:                          -0.012   Prob(JB):                        0.121
Kurtosis:                       2.843   Cond. No.                     9.39e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.39e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [123]:
# Predice los precios para X_test usando este nuevo modelo y el anterior
# utiliza el método predict que tienen los modelos 
X_test = sm.add_constant(X_test, prepend=True)
pred_ = modelo_.predict(X_test)
pred = modelo.predict(X_test)

In [124]:
sum(abs(y_test - pred_))

80857789.44045857

In [125]:
sum(abs(y_test - pred))

80737418.17932948

In [126]:
# Compara el error en cada modelo. ¿Cuál es mayor? ¿Sabrías decir el motivo?
sum(abs(y_test-pred))

80737418.17932333