![imagen](./img/hr.png)

In [2]:
# https://www.sqltutorial.org/
# Ejemply pymsql + aws + pandas
import pymysql
import pandas as pd
ENDPOINT="hrdb.cn2cwau8envf.eu-north-1.rds.amazonaws.com"
PORT=3306
USER="admin"
REGION="eu-north-1b"
DBNAME="hrdb"
conn =  pymysql.connect(host=ENDPOINT, user=USER, passwd="BootcampDSPT24$", port=PORT)

Selecciona todas las columnas y filas de la tabla employees

Selecciona las columnas:
first_name, 
last_name, 
salary
e incrementa un 5% el salario de employees

ProgrammingError: (1007, "Can't create database 'HHRR'; database exists")

Selecciona las columnas:
first_name, 
last_name, 
salary
e incrementa un 5% el salario de todos los employees.
Llama a dicha columna new_salary

SELECT
	employee_id,
	first_name,
	last_name,
	hire_date,
	salary
FROM
	employees;
Ejecuta de nuevo esta query por orden alfab√©tico del nombre de empleado

ORDER BY para ordenar employees  por el nombre en orden ascendente y el apellido en orden descendente:

El siguiente ejemplo utiliza la cl√°usula ORDER BY para ordenar employees por salario de mayor a menor

0

Utiliza ORDER BY para ordenar las filas por fecha de contrataci√≥n

Selecciona los datos de salarios sin mostrar duplicados de la columna de sueldos y ordenarlas de alto a bajo

Selecciona los datos de job_id y salarios sin mostrar duplicados

Obtener el nombre, apellidos y employee_id. Mostrar solo los 5 primeros resultados

Obtener el nombre, apellidos y employee_id. Mostrar solo los 6-11 primeros resultados (keyword OFFSET)

Obtener el nombre, apellidos, employee_id y salario de los 7 employees con mejor sueldo

Obtener el nombre, apellidos, employee_id y salario del employee con mejor sueldo en el puesto 10

Obtener el nombre, apellidos, employee_id y salario de quienes que cobran m√°de 14000 y ordenalos de forma decreciente por salario

Obtener  employees que se apellidan Chen

Obtener employees cuya contrataci√≥n sucedi√≥ despu√©s del 1 de enero de 1999

Obtener employees que cuya contrataci√≥n sucedi√≥ en el a√±o 1999 (funci√≥n YEAR)

Obtener employees cuyo n√∫mero de tel√©fono es NULL (comparar resultados usando = NULL y IS NULL)

Obtener employees que no pertenecen ni al departamento 8 ni al 10

Obtener employees que pertenecen al departamento 8 y su salario es superior a 10.000

Obtener employees que cuyo salario est√° entre 8000 y 14000

Obtener employees que  pertenecen al departamento 8, 9, 10 usando IN

Obtener employees cuyo nombre comienza por "Jo"

Obtener employees cuyo nombre tiene por segunda letra por "h" (usando _)

Obtener employees que NO pertenecen al departamento 8, 9, 10 usando IN

#### SUBQUERIES

Las queries de SQL pueden combinarse de tal forma que hacen a este lenguaje mucho m√°s flexible, pero tambi√©n m√°s dificil de leer y entender

SELECT 
    employee_id, first_name, last_name, salary
FROM
    employees
WHERE
    department_id IN (SELECT 
            department_id
        FROM
            departments
        WHERE
            department_name = 'Marketing'
                OR department_name = 'Sales')

Utiliza un inner join para extraer el nombre del departamento de cada empleado

Utiliza un inner join para extraer el nombre del departamento de cada empleado filtrando por departamentos 1, 2 y 3

Utiliza un left join para extraer la localizaci√≥n en cada pa√≠s

Utiliza dos left join para extraer la localizaci√≥n, pa√≠s y c√≥digo de regi√≥n

Cuenta el n√∫mero de employees por cada departamento id

Cuenta el n√∫mero de employees por cada departamento (incluyendo el nombre en texto del departamento, no solo el c√≥digo)

Cuenta el n√∫mero de employees por cada departamento (incluyendo el nombre en texto del departamento, no solo el c√≥digo) de mayor n√∫mero de employees a menor

Cuenta el n√∫mero de employees por cada departamento (incluyendo el nombre en texto del departamento, no solo el c√≥digo) con m√°s de 4 empleoyees (probar WHERE y HAVING)

C√°lcula los costes de salario por cada departamento con su nombre de departamento

Cuenta el n√∫mero de employees por cada departamento y puesto de trabajo (incluyendo el nombre en texto del departamento y puesto, no solo el c√≥digo)