# Ejercicios

Completa los siguientes ejercicios utilizando lo que hemos aprendido hasta y los datos del directorio ejercicios/:

1. Queremos ver los datos de las acciones de Facebook, Apple, Amazon, Netflix y Google (FAANG), pero nos dieron cada uno como un archivo CSV separado. Combínelos en un único archivo y guarde el dataframe de los datos FAANG como faang para el resto de los ejercicios:

In [3]:
# a) Crea la carpeta faang. Mueve los archivos aapl.csv, amzn.csv, fb.csv, goog.csv y nflx.csv a dicha carpeta
# Lee los archivos usando un bucle
import os
import shutil

a_mover = ['aapl.csv', 'amzn.csv', 'fb.csv' ,'goog.csv', 'nflx.csv']
os.makedirs("faang", exist_ok=True)

for i in a_mover:
    shutil.move(f"{i}", "faang")

Error: Destination path 'faang\aapl.csv' already exists

In [4]:
import pandas as pd

lista = []

for file in os.listdir("faang"):
    tmp = pd.read_csv(f'faang/{file}')
    tmp['ticker'] = file.split(".")[0]
    lista.append(tmp)

In [5]:
faang = pd.concat(lista)

In [6]:
faang

,date,high,low,open,close,volume,ticker
0,2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600.0,aapl
1,2018-01-03,43.637501,42.990002,43.132500,43.057499,118071600.0,aapl
2,2018-01-04,43.367500,43.020000,43.134998,43.257500,89738400.0,aapl
3,2018-01-05,43.842499,43.262501,43.360001,43.750000,94640000.0,aapl
4,2018-01-08,43.902500,43.482498,43.587502,43.587502,82271200.0,aapl
...,...,...,...,...,...,...,...
246,2018-12-24,250.649994,233.679993,242.000000,233.880005,9547600.0,nflx
247,2018-12-26,254.500000,231.229996,233.919998,253.669998,14402700.0,nflx
248,2018-12-27,255.589996,240.100006,250.110001,255.570007,12235200.0,nflx
249,2018-12-28,261.910004,249.800003,257.940002,256.079987,10992800.0,nflx
250,2018-12-31,270.100006,260.000000,260.160004,267.660004,13508900.0,nflx

In [ ]:
#b) Añade una columna a cada dataframe, llamalo ticker, indicando el símbolo del ticker al que corresponde (el de Apple es AAPL, por ejemplo);

In [ ]:
#c) Agréguelos en un dataframe.

In [7]:
#d) Guarda el resultado en un archivo CSV llamado faang.csv.
faang.to_csv("faang.csv")

In [10]:
faang["Mayor 100"] = faang['open'].apply(lambda x: x >= 100)

In [15]:
def filtrado(x):
    if x>1000: return 'Mayor que mil'
    elif x<=1000 and x>100: return 'Entre 1000 y 100'
    elif x<=100 and x>50: return 'Entre 100 y 50'
    elif x> 0 and x<=50: return 'Entre 50 y 0'

faang['rango apertura'] = faang['open'].apply(filtrado)

,date,high,low,open,close,volume,ticker,Mayor 100,rango apertura
0,2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600.0,aapl,False,Entre 50 y 0
1,2018-01-03,43.637501,42.990002,43.132500,43.057499,118071600.0,aapl,False,Entre 50 y 0
2,2018-01-04,43.367500,43.020000,43.134998,43.257500,89738400.0,aapl,False,Entre 50 y 0
3,2018-01-05,43.842499,43.262501,43.360001,43.750000,94640000.0,aapl,False,Entre 50 y 0
4,2018-01-08,43.902500,43.482498,43.587502,43.587502,82271200.0,aapl,False,Entre 50 y 0
...,...,...,...,...,...,...,...,...,...
246,2018-12-24,250.649994,233.679993,242.000000,233.880005,9547600.0,nflx,True,Entre 1000 y 100
247,2018-12-26,254.500000,231.229996,233.919998,253.669998,14402700.0,nflx,True,Entre 1000 y 100
248,2018-12-27,255.589996,240.100006,250.110001,255.570007,12235200.0,nflx,True,Entre 1000 y 100
249,2018-12-28,261.910004,249.800003,257.940002,256.079987,10992800.0,nflx,True,Entre 1000 y 100
250,2018-12-31,270.100006,260.000000,260.160004,267.660004,13508900.0,nflx,True,Entre 1000 y 100

In [30]:
faang['dist_media'] = faang.groupby(['ticker'])['open'].transform(lambda x: x - x.mean())
faang

,date,high,low,open,close,volume,ticker,Mayor 100,rango acciones apertura,rango apertura,Dist media,dist_media
0,2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600.0,aapl,False,Entre 50 y 0,Entre 50 y 0,-4.737858,-4.737858
1,2018-01-03,43.637501,42.990002,43.132500,43.057499,118071600.0,aapl,False,Entre 50 y 0,Entre 50 y 0,-4.145359,-4.145359
2,2018-01-04,43.367500,43.020000,43.134998,43.257500,89738400.0,aapl,False,Entre 50 y 0,Entre 50 y 0,-4.142860,-4.142860
3,2018-01-05,43.842499,43.262501,43.360001,43.750000,94640000.0,aapl,False,Entre 50 y 0,Entre 50 y 0,-3.917858,-3.917858
4,2018-01-08,43.902500,43.482498,43.587502,43.587502,82271200.0,aapl,False,Entre 50 y 0,Entre 50 y 0,-3.690357,-3.690357
...,...,...,...,...,...,...,...,...,...,...,...,...
246,2018-12-24,250.649994,233.679993,242.000000,233.880005,9547600.0,nflx,True,Entre 1000 y 100,Entre 1000 y 100,-77.620558,-77.620558
247,2018-12-26,254.500000,231.229996,233.919998,253.669998,14402700.0,nflx,True,Entre 1000 y 100,Entre 1000 y 100,-85.700560,-85.700560
248,2018-12-27,255.589996,240.100006,250.110001,255.570007,12235200.0,nflx,True,Entre 1000 y 100,Entre 1000 y 100,-69.510558,-69.510558
249,2018-12-28,261.910004,249.800003,257.940002,256.079987,10992800.0,nflx,True,Entre 1000 y 100,Entre 1000 y 100,-61.680556,-61.680556
250,2018-12-31,270.100006,260.000000,260.160004,267.660004,13508900.0,nflx,True,Entre 1000 y 100,Entre 1000 y 100,-59.460555,-59.460555

In [31]:
# Forma Choska

medias = faang.groupby(['ticker'], as_index=False)['open'].mean()
medias.columns = ['ticker', 'media']

faang2 = pd.merge(faang, medias, on=['ticker'], how='outer', indicator=True)
faang2

,date,high,low,open,close,volume,ticker,Mayor 100,rango acciones apertura,rango apertura,Dist media,dist_media,media,_merge
0,2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600.0,aapl,False,Entre 50 y 0,Entre 50 y 0,-4.737858,-4.737858,47.277859,both
1,2018-01-03,43.637501,42.990002,43.132500,43.057499,118071600.0,aapl,False,Entre 50 y 0,Entre 50 y 0,-4.145359,-4.145359,47.277859,both
2,2018-01-04,43.367500,43.020000,43.134998,43.257500,89738400.0,aapl,False,Entre 50 y 0,Entre 50 y 0,-4.142860,-4.142860,47.277859,both
3,2018-01-05,43.842499,43.262501,43.360001,43.750000,94640000.0,aapl,False,Entre 50 y 0,Entre 50 y 0,-3.917858,-3.917858,47.277859,both
4,2018-01-08,43.902500,43.482498,43.587502,43.587502,82271200.0,aapl,False,Entre 50 y 0,Entre 50 y 0,-3.690357,-3.690357,47.277859,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,2018-12-24,250.649994,233.679993,242.000000,233.880005,9547600.0,nflx,True,Entre 1000 y 100,Entre 1000 y 100,-77.620558,-77.620558,319.620558,both
1000,2018-12-26,254.500000,231.229996,233.919998,253.669998,14402700.0,nflx,True,Entre 1000 y 100,Entre 1000 y 100,-85.700560,-85.700560,319.620558,both
1001,2018-12-27,255.589996,240.100006,250.110001,255.570007,12235200.0,nflx,True,Entre 1000 y 100,Entre 1000 y 100,-69.510558,-69.510558,319.620558,both
1002,2018-12-28,261.910004,249.800003,257.940002,256.079987,10992800.0,nflx,True,Entre 1000 y 100,Entre 1000 y 100,-61.680556,-61.680556,319.620558,both
1003,2018-12-31,270.100006,260.000000,260.160004,267.660004,13508900.0,nflx,True,Entre 1000 y 100,Entre 1000 y 100,-59.460555,-59.460555,319.620558,both

In [32]:
faang2['dist_media_2'] = faang2['open'] - faang2['media']

In [33]:
sum(faang2['dist_media_2'] != faang2['dist_media'])

0

2. Con faang, utilice la conversión de tipos para convertir los valores de la columna de fecha en datetime y la columna de volumen en números enteros. A continuación, ordena por fecha y ticker.

3. Encuentre las siete filas en faang con el valor más bajo para el volumen.

4. El Centro Europeo para la Prevención y el Control de las Enfermedades (ECDC) proporciona un conjunto de datos abierto sobre casos de COVID-19 denominado número diario de nuevos casos notificados de COVID-19 por país en todo el mundo (https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographicdistribution-covid-19-cases-worldwide). Este conjunto de datos se actualiza diariamente, pero utilizaremos una instantánea que contiene datos desde el 1 de enero de 2020 hasta el 18 de septiembre de 2020. Limpia y pivota los datos para que estén en formato ancho:

In [ ]:
#- a) Lea el archivo covid19_casos.csv.

In [ ]:
#- b) Cree una columna de fecha utilizando los datos de la columna dateRep y la función pd.to_datetime().

In [ ]:
#- c) Establece la columna de fecha como índice y ordena el índice.

In [ ]:
#- d) Sustituye todas las apariciones de United_States_of_America y United_Kingdom por USA y UK, respectivamente. Sugerencia: el método replace() puede ejecutarse en todo el dataframe.

In [ ]:
#- e) Utilizando la columna countriesAndTerritories, filtre los datos de casos COVID-19 depurados hasta Argentina, Brasil, China, Colombia, India, Italia, México, Perú, Rusia, España, Turquía, Reino Unido y Estados Unidos.

In [ ]:
#- f) Pivota los datos de modo que el índice contenga las fechas, las columnas contengan los nombres de los países y los valores sean los recuentos de casos (la columna de casos). 
# Asegúrate de rellenar los valores NaN con 0.

5. Intenta obtener el csv covid19_total_cases.csv a partir de covid19_cases.csv

# Basado en hechos reales (Iván Vallés) aunque los datos eran diferentes
# En este archivo se encuentran las medidas en kg para generar en una planta cierto producto químico 
# http://www.adjoint-functors.net/su/web/314/R/NB10

In [2]:
# analiza si es tiene las propiedades de una distribución normal

    409
0   400
1   406
2   399
3   402
4   406
..  ...
94  406
95  398
96  406
97  403
98  404

[99 rows x 1 columns]

In [ ]:
# analiza si es tiene las propiedades de una distribución normal tras eliminar los 3 outliers

In [ ]:
# analiza si es razonable pensar que la media es de 400kg tras eliminar los outliers