https://www.kaggle.com/datasets/shriyashjagtap/fraudulent-e-commerce-transactions

In [1]:
import pandas as pd

In [2]:
fraude = pd.read_csv("data/fraude.csv")

In [11]:
fraude.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472952 entries, 0 to 1472951
Data columns (total 16 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Transaction ID      1472952 non-null  object
 1   Customer ID         1472952 non-null  object
 2   Transaction Amount  1472952 non-null  float64
 3   Transaction Date    1472952 non-null  object
 4   Payment Method      1472952 non-null  object
 5   Product Category    1472952 non-null  object
 6   Quantity            1472952 non-null  int64
 7   Customer Age        1472952 non-null  int64
 8   Customer Location   1472952 non-null  object
 9   Device Used         1472952 non-null  object
 10  IP Address          1472952 non-null  object
 11  Shipping Address    1472952 non-null  object
 12  Billing Address     1472952 non-null  object
 13  Is Fraudulent       1472952 non-null  int64
 14  Account Age Days    1472952 non-null  int64
 15  Transaction Hour    1472952 non-null  int64
dtypes: float64(1), int64(5), object(10)
memory usage: 179.8+ MB

In [21]:
preg = pd.read_csv("data/pregnancy.txt", sep="")

In [22]:
preg.head()

  202201    12187        21                2                        37116    1                   101101  0  011 X1  16 1                    400701101   00115 1     000000  1  1               88888   88888   88888     0713          10  061      N10000000000001111N1         67125.83    1651   999 19991     NNNNNN111111NXX111N00 111     NNNNN111111      NN 11                  NNNNNN1111111     11X111111     NNNNN 11111 1     4N2211     1041885   1    9               F 03  2021     42102    410923203 073     NNNNNN 111111 1     NNNNNN111111NNNNNN1111111     NYY1
0          202201    15257        31             ...
1          202201    05392        31             ...
2          202201    01226        31             ...
3          202201    18011        11             ...
4          202201    04481        11             ...