![imagen](./img/hr.png)

In [1]:
# https://www.sqltutorial.org/
# Ejemply pymsql + aws + pandas
import pymysql
import pandas as pd
ENDPOINT="hrdb.cn2cwau8envf.eu-north-1.rds.amazonaws.com"
PORT=3306
USER="admin"
REGION="eu-north-1b"
DBNAME="hrdb"
conn =  pymysql.connect(host=ENDPOINT, user=USER, passwd="BootcampDSPT24$", port=PORT)
# Obtenemos un cursor que utilizaremos para hacer las queries
crsr = conn.cursor()

In [2]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [3]:
# Determinar que schema (colección de tablas) queremos usar
crsr.execute("USE HHRR_Jony;") #sustituye XXX por el nombre que usaste

0

Selecciona la totalidad de la tabla de employees

Selecciona las columnas first_name, second_name, email y phone_number de la tabla de employees

Selecciona las columnas first_name, second_name, email y phone_number de las 12 primeras filas de la tabla de employees

Selecciona las columnas first_name, second_name y salario de la tabla de employees por orden descendente de salario

Selecciona las columnas first_name, second_name y salario de la tabla de employees para la segunda persona que menos cobra

Selecciona los empleados del departamento 3

Selecciona los empleados de los departamentos 3, 5 y 7

Selecciona los empleados de los departamentos que no son 3, 5 y 7

Selecciona los empleados y muestra una columna adicional mostrando el año de contratacion con el nombre "hire_year"

Muestra los nombres de los empleados sin repeticiones

Selecciona solo los empleados contratados en abril (función month)

Selecciona aquellos empleados cuyo nombre termina en a

Selecciona aquellos empleados cuya segunda letra del apellido sea h

Cuenta el número empleado por job_id

Muestra el máximo salario por job_id

Muestra el nombre, apellido y job_title por empleado

Muestra la media de salario por job_name (AVG)

Muestra aquellas localizaciones cuyo state_province sea nulo

Muestra la calle, ciudad y nombre del país de cada localización

Muestra la calle, ciudad, nombre del país y nombre de región de cada localización

Haz un left join entre employees y dependents

Haz un right join entre employees y dependents

Calcula el número de localizaciones por región

Muestra los empleados y dependents que compartan el mismo apellido