# Introducción al ensamblado de modelos

In [2]:
# vamos a repasar Programación Orientada a Objetos
# Crear la clase Modelo que se inicializa con se inicializa con un atributo
# Tiene la función es_leche que recibe un parámetro
# Devuelve True si ese parámetro coincide con el atributo inicial
# Devuelve False en caso contrario
# Ejemplo:
# modelo = Modelo("lactosa")
# modelo.es_leche("lactosa") <-- True
# modelo.es_leche("fructosa") <-- False
class Modelo:
    def __init__(self, atr):
        self.atributo = atr

    def es_leche(self, caracteritica):
        return self.atributo == caracteritica

In [3]:
# Todo lo que es blanco, es leche
modelo_1 = Modelo("blanco")
# Todo lo que es líquido, es leche
modelo_2 = Modelo("líquido")
# Todo lo que es de origen animal, es leche
modelo_3 = Modelo("animal")

In [4]:
# predecir para zumo de naranja, azúcar, chorizo y leche
# Lista de atributos: 
# 0: color
# 1: estado
# 2: origen
zumo_naranja = ["naranja", "líquido", "vegetal"]
azucar = ["blanco", "sólido", "vegetal"]
chorizo = ["rojo", "solido", "animal"]
leche = ["blanco", "líquido", "animal"]

In [6]:
# Calcular accuracy y matriz de confusión
print(modelo_1.es_leche(zumo_naranja[0]))
print(modelo_1.es_leche(azucar[0]))
print(modelo_1.es_leche(chorizo[0]))
print(modelo_1.es_leche(leche[0]))
print("accuracy", 3/4)

False
True
False
True
accuracy 0.75

In [9]:
# Similar para modelo_2
# Calcular accuracy y matriz de confusión
print(modelo_2.es_leche(zumo_naranja[1]))
print(modelo_2.es_leche(azucar[1]))
print(modelo_2.es_leche(chorizo[1]))
print(modelo_2.es_leche(leche[1]))

True
False
False
True

In [11]:
# Similar para modelo_3
# Calcular accuracy y matriz de confusión
print(modelo_3.es_leche(zumo_naranja[2]))
print(modelo_3.es_leche(azucar[2]))
print(modelo_3.es_leche(chorizo[2]))
print(modelo_3.es_leche(leche[2]))

False
False
True
True

Los tres modelos son bastante malos... por separado.

¿Qué sucedería si damos un voto a cada modelo y solo si el objeto (zumo, azucar, chorizo, leche) obtiene la mayoría de votos decimos que pertenece a la categoría leche?

In [13]:
# Repetir para azucar, chorizo y leche
votos_zumo = modelo_1.es_leche(zumo_naranja[0]) + modelo_2.es_leche(zumo_naranja[1]) + modelo_3.es_leche(zumo_naranja[2])

In [14]:
votos_chorizo = modelo_1.es_leche(chorizo[0]) + modelo_2.es_leche(chorizo[1]) + modelo_3.es_leche(chorizo[2])

In [16]:
votos_leche = modelo_1.es_leche(leche[0]) + modelo_2.es_leche(leche[1]) + modelo_3.es_leche(leche[2])

In [17]:
votos_azucar = modelo_1.es_leche(azucar[0]) + modelo_2.es_leche(azucar[1]) + modelo_3.es_leche(azucar[2])

# Ahora con Árboles de Decisión

In [44]:
# https://www.kaggle.com/code/caesarlupum/modeling-give-me-some-credit
import pandas as pd
data = pd.read_csv("data/train.csv")

In [20]:
# Info y describe dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73363 entries, 0 to 73362
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Id                                    73363 non-null  int64
 1   target                                73363 non-null  int64
 2   RevolvingUtilizationOfUnsecuredLines  73363 non-null  float64
 3   age                                   73363 non-null  object
 4   NumberOfTime30-59DaysPastDueNotWorse  73363 non-null  int64
 5   DebtRatio                             73363 non-null  float64
 6   MonthlyIncome                         58796 non-null  float64
 7   NumberOfOpenCreditLinesAndLoans       73363 non-null  int64
 8   NumberOfTimes90DaysLate               73363 non-null  int64
 9   NumberRealEstateLoansOrLines          73363 non-null  int64
 10  NumberOfTime60-89DaysPastDueNotWorse  73363 non-null  int64
 11  NumberOfDependents                    71421 non-null  float64
dtypes: float64(4), int64(7), object(1)
memory usage: 6.7+ MB

In [51]:
data.describe()

,target,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,73363.000000,73363.000000,73363.000000,73363.000000,73363.000000,5.879600e+04,73363.000000,73363.000000,73363.000000,73363.000000,71421.000000
mean,0.065919,5.884904,52.362908,0.410507,359.752537,6.649145e+03,8.443916,0.256546,1.019928,0.231847,0.755506
std,0.248142,235.508449,14.781089,4.090014,2477.648064,1.046163e+04,5.142232,4.066573,1.136357,4.052280,1.111715
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.029752,41.000000,0.000000,0.173446,3.400000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.154688,52.000000,0.000000,0.365737,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,0.000000,0.558686,63.000000,0.000000,0.863514,8.300000e+03,11.000000,0.000000,2.000000,0.000000,1.000000
max,1.000000,29110.000000,105.000000,98.000000,329664.000000,1.560100e+06,57.000000,98.000000,32.000000,98.000000,13.000000

In [22]:
data.head()

,Id,target,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,44164,0,0.768219,68y,1,0.687930,2178.0,12,0,1,0,0.0
1,95356,0,0.289873,52y,0,0.385497,3750.0,16,0,1,0,1.0
2,108917,0,0.000000,54y,0,0.346503,6833.0,8,0,1,0,0.0
3,99039,0,0.046064,66y,1,0.407614,5200.0,6,0,1,0,1.0
4,116168,0,0.168771,45y,0,4702.000000,NaN,10,0,3,0,1.0

In [25]:
data['Id'].duplicated().sum() # Es unico

0

In [26]:
data['target'].value_counts(normalize=True)

target
0    0.934081
1    0.065919
Name: proportion, dtype: float64

In [45]:
data['RevolvingUtilizationOfUnsecuredLines'].quantile(0.995)

1.316257683430009

In [46]:
data['age'] = data['age'].apply(lambda x: int(x.replace("y", "")))

In [48]:
data.drop(["Id"], axis=1, inplace=True, errors="ignore")

In [50]:
# Transformaciones necesarias
data.head()

,target,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,0,0.768219,68,1,0.687930,2178.0,12,0,1,0,0.0
1,0,0.289873,52,0,0.385497,3750.0,16,0,1,0,1.0
2,0,0.000000,54,0,0.346503,6833.0,8,0,1,0,0.0
3,0,0.046064,66,1,0.407614,5200.0,6,0,1,0,1.0
4,0,0.168771,45,0,4702.000000,NaN,10,0,3,0,1.0

In [53]:
data.corr()['target']

target                                  1.000000
RevolvingUtilizationOfUnsecuredLines   -0.000057
age                                    -0.113796
NumberOfTime30-59DaysPastDueNotWorse    0.118269
DebtRatio                              -0.007099
MonthlyIncome                          -0.026549
NumberOfOpenCreditLinesAndLoans        -0.025422
NumberOfTimes90DaysLate                 0.110286
NumberRealEstateLoansOrLines           -0.001227
NumberOfTime60-89DaysPastDueNotWorse    0.094685
NumberOfDependents                      0.042542
Name: target, dtype: float64

In [ ]:
X = 
y =

In [ ]:
# Hacer una función con todo y probar diversos arboles StratifiedShuffleSplit
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=1453)

In [ ]:
# Creamos y entrenamos el modelo
from sklearn.tree import DecisionTreeClassifier
tree_1 = DecisionTreeClassifier(max_depth=3, min_samples_leaf=18, random_state=42, splitter="random")
tree_1.fit(strat_train_set, strat_train_y_set)

tree_2 = DecisionTreeClassifier(max_depth=4, min_samples_leaf=15, random_state=9, splitter="random")
tree_2.fit(strat_train_set, strat_train_y_set)

tree_3 = DecisionTreeClassifier(max_depth=7, min_samples_leaf=10, random_state=77, splitter="random")
tree_3.fit(strat_train_set, strat_train_y_set)

tree_3 = DecisionTreeClassifier(max_depth=12, min_samples_leaf=23, random_state=12, splitter="random")
tree_3.fit(strat_train_set, strat_train_y_set)

tree_4 = DecisionTreeClassifier(max_depth=9, min_samples_leaf=11, random_state=7, splitter="random")
tree_4.fit(strat_train_set, strat_train_y_set)

tree_5 = DecisionTreeClassifier(max_depth=4, min_samples_leaf=10, random_state=0, splitter="random")
tree_5.fit(strat_train_set, strat_train_y_set)

tree_6 = DecisionTreeClassifier(max_depth=5, min_samples_leaf=20, random_state=9, splitter="random")
tree_6.fit(strat_train_set, strat_train_y_set)

tree_7 = DecisionTreeClassifier(max_depth=9, min_samples_leaf=20, random_state=770, splitter="random")
tree_7.fit(strat_train_set, strat_train_y_set)

tree_8 = DecisionTreeClassifier(max_depth=6, min_samples_leaf=15, random_state=27, splitter="random")
tree_8.fit(strat_train_set, strat_train_y_set)

tree_9 = DecisionTreeClassifier(max_depth=5, min_samples_leaf=13, random_state=177, splitter="random")
tree_9.fit(strat_train_set, strat_train_y_set)

tree_10 = DecisionTreeClassifier(max_depth=2, min_samples_leaf=24, random_state=377, splitter="random")
tree_10.fit(strat_train_set, strat_train_y_set)

tree_11 = DecisionTreeClassifier(max_depth=6, min_samples_leaf=30, random_state=99, splitter="random")
tree_11.fit(strat_train_set, strat_train_y_set)

tree_12 = DecisionTreeClassifier(max_depth=4, min_samples_leaf=20, random_state=42, splitter="random")
tree_12.fit(strat_train_set, strat_train_y_set)

tree_13 = DecisionTreeClassifier(max_depth=9, min_samples_leaf=9, random_state=99, splitter="random")
tree_13.fit(strat_train_set, strat_train_y_set)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(strat_test_y_set, tree_1.predict(strat_test_set))

In [ ]:
accuracy_score(strat_test_y_set, tree_2.predict(strat_test_set))

In [ ]:
accuracy_score(strat_test_y_set, tree_3.predict(strat_test_set))

In [ ]:
accuracy_score(strat_test_y_set, tree_4.predict(strat_test_set))

In [ ]:
accuracy_score(strat_test_y_set, tree_5.predict(strat_test_set))

In [ ]:
accuracy_score(strat_test_y_set, tree_6.predict(strat_test_set))

In [ ]:
accuracy_score(strat_test_y_set, tree_7.predict(strat_test_set))

In [ ]:
accuracy_score(strat_test_y_set, tree_8.predict(strat_test_set))

In [ ]:
accuracy_score(strat_test_y_set, tree_9.predict(strat_test_set))

In [ ]:
accuracy_score(strat_test_y_set, tree_10.predict(strat_test_set))

In [ ]:
accuracy_score(strat_test_y_set, tree_11.predict(strat_test_set))

In [ ]:
accuracy_score(strat_test_y_set, tree_12.predict(strat_test_set))

In [ ]:
accuracy_score(strat_test_y_set, tree_13.predict(strat_test_set))

In [ ]:
votos = pd.DataFrame()
votos["tree_1"] = tree_1.predict(strat_test_set)
votos["tree_2"] = tree_2.predict(strat_test_set)
votos["tree_3"] = tree_3.predict(strat_test_set)
votos["tree_4"] = tree_4.predict(strat_test_set)
votos["tree_5"] = tree_5.predict(strat_test_set)
votos["tree_6"] = tree_6.predict(strat_test_set)
votos["tree_7"] = tree_7.predict(strat_test_set)
votos["tree_8"] = tree_8.predict(strat_test_set)
votos["tree_9"] = tree_9.predict(strat_test_set)
votos["tree_10"] = tree_10.predict(strat_test_set)
votos["tree_11"] = tree_11.predict(strat_test_set)
votos["tree_12"] = tree_12.predict(strat_test_set)
votos["tree_13"] = tree_13.predict(strat_test_set)
votos["real"] = strat_test_y_set.values

In [ ]:
t  = [f"tree_{x}" for x in range(1,14)]

In [ ]:
t

In [ ]:
votos

In [ ]:
votos["moda"] = votos[t].mode(axis=1)[0]

In [ ]:
accuracy_score(strat_test_y_set, votos["moda"])

# Comparar con un árbol solitario

In [ ]:
tree = DecisionTreeClassifier( random_state=42)
tree.fit(strat_train_set, strat_train_y_set)

In [ ]:
accuracy_score(strat_test_y_set, tree.predict(strat_test_set))

# Comparar con el mejor árbol posible

In [ ]:
from sklearn.model_selection import GridSearchCV
tree_rd = DecisionTreeClassifier(random_state=42)

param_grid = {
    'max_depth': range(2,13),
    'min_samples_leaf': range(1,31)
}

grid_search = GridSearchCV(tree_rd, # El modelo que quiero entrenar
                                   param_grid, # El grid de parámetros
                                   cv=5, # Folds del cross validation
                                   scoring="accuracy", # Métrica que quiero optimizar
                                   n_jobs = -1 # Paralelizar
                                  )

grid_search.fit(strat_train_set, strat_train_y_set)

In [ ]:
grid_search.best_params_

In [ ]:
# Mejor árbol
accuracy_score(strat_test_y_set, grid_search.predict(strat_test_set))

In [ ]:
# Bosque
accuracy_score(strat_test_y_set, votos["moda"])

In [ ]:
# ¿Merece la pena?
# Pensemos en tiempo
# Pensemos en aciertos

# Refactorizar código