Machine Learning es la ciencia (y el arte) de programar computadores para que aprendan de los datos -- Aurélien Géron en Hands-ON Machine Learning with Scikit-Learn, Keras & TensorFlow

Podemos decir que un programa de computador aprende de los datos si a medida que introducimos nuevos datos realiza una determinada tarea cada vez mejor, según una determinada medida de rendimiento -- Tom Michell, 1997. Traducción aproximada

Necesitamos tres elementos:

1. Tarea a realizar por nuestro programa
2. Datos 
3. Medida de rendimiento (o error)

Resultado: Mejora del rendimiento (3) al realizar la tarea (1) cuando introducimos nuevos datos (2)

Todos los modelos son erróneos, pero algunos son útiles -- George Edward Pelham Box

In [1]:
import pandas as pd

In [2]:
dt_small = pd.DataFrame([279, 280, 277, 279, 282, 277, 283, 279, 280, 270, 281, 278, 272, 276, 288, 268, 266, 278, 278, 279, 277])
dt_small.columns = ["dur_embarazo"]

### Task: acertar la duración del embarazo
## Error/Rendimiento
* Sumar: 1 si no es exactamente el mismo día, 0 si es el mismo día
* Sumar: diferencia absoluta entre lo predicho y lo real
* Sumar: diferencia al cuadrado entre lo predicho y lo real
* Sumar y hacer raíz cuadrada: diferencia al cuadrado entre lo predicho y lo real
## Modelo
* Siempre es 276/277/279
* Moda/Media/Mediana

In [6]:
dt_small['modelo_276'] = 276
dt_small['modelo_279'] = 279
dt_small['modelo_277'] = 277
dt_small['Moda'] = dt_small['dur_embarazo'].mode().iloc[0] # Porque la moda te devuelve un dataframe
dt_small['Media'] = dt_small['dur_embarazo'].mean()
dt_small['Mediana'] = dt_small['dur_embarazo'].median()

In [7]:
dt_small

    dur_embarazo  modelo_276  modelo_279  modelo_277  Moda      Media  Mediana
0            279         276         279         277   279  277.47619    278.0
1            280         276         279         277   279  277.47619    278.0
2            277         276         279         277   279  277.47619    278.0
3            279         276         279         277   279  277.47619    278.0
4            282         276         279         277   279  277.47619    278.0
5            277         276         279         277   279  277.47619    278.0
6            283         276         279         277   279  277.47619    278.0
7            279         276         279         277   279  277.47619    278.0
8            280         276         279         277   279  277.47619    278.0
9            270         276         279         277   279  277.47619    278.0
10           281         276         279         277   279  277.47619    278.0
11           278         276         279         277   279  277.47619    278.0
12           272         276         279         277   279  277.47619    278.0
13           276         276         279         277   279  277.47619    278.0
14           288         276         279         277   279  277.47619    278.0
15           268         276         279         277   279  277.47619    278.0
16           266         276         279         277   279  277.47619    278.0
17           278         276         279         277   279  277.47619    278.0
18           278         276         279         277   279  277.47619    278.0
19           279         276         279         277   279  277.47619    278.0
20           277         276         279         277   279  277.47619    278.0

 ### Task: minimizar que la madre no esté preparada

   dur_embarazo
0           279

### ¿Qué es mejorar el rendimiento al introducir más datos?

In [ ]:
import pandas as pd
dt_emb = pd.read_csv("dur_emb.csv")